<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                     http://www.springframework.org/schema/beans/spring-beans.xsd" default-autowire="byName">
                     
    <bean id="filmService" class="com.netitv.service.impl.FilmServiceImpl"></bean>
    <bean id="assetService" class="com.netitv.service.impl.AssetServiceImpl"></bean>
    <bean id="administratorInfoService" class="com.netitv.service.impl.AdministratorInfoServiceImpl"></bean>
    
    <bean id="channelService" class="com.netitv.service.impl.ChannelServiceImpl"></bean>
    <bean id="columnService" class="com.netitv.service.impl.ColumnServiceImpl"></bean>
    <bean id="orderDetailService" class="com.netitv.service.impl.OrderDetailServiceImpl"></bean>
            
</beans>